@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  font-size: 200%;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, th{
  color:#FFFFFF;
}

.row {
  margin-left:0px;
  margin-right:0px;
}

#body-content{
  margin-top: 50px;
  min-height: 545px;
  width:100%;
  position:relative;
  margin-left:0px; 
  margin-right:0px; 
  margin-bottom:0px;
  background-color:#6f5499;
}

#user-menu{
  margin-left: 20px;
}

.checkbox {
  margin-left: 21px;
}

footer {
  border-top: 1px solid #eaeaea;
  color: #333333;
  background-color:#e7e7e7;
  height:50px;
  font-size:20px;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

ul li {
  list-style: none
}

ul li .time-ago {
  font-size: 80%;
  font-style: oblique;
}

#btn-signup{
  position: relative;
  top: 10px;
  left: 200px;
}

.pagination {
  font-size: 12px;
}

.pagination > * {
  margin-right: 0.1em;
  padding: 0.3em 0.4em;
}

.pagination a:hover {
  background: #428BCA none repeat scroll 0 0;
  text-shadow: 1px 1px 1px #171717;
}

.pagination a:active {
  text-shadow: none;
}

.pagination .current {
  background: #428BCA none repeat scroll 0 0;
  color: white;
  text-shadow: 1px 1px 1px #171717;
}

.pagination .disabled {
  color: #C0C0C0;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.table-title{
  background-color: #fafafa;
  min-height: 30px;
  font-size: 120%;
  margin-bottom: 30px;
}

.answer-fail{
  background-color: #ffe6e6;
  padding: 10px;
}
.answer-true{
  background-color: #ccffcc;
  padding: 10px; 
}
.question{
  font-size: 110%; 
}
#Date {
  font-family: "BebasNeueRegular", Arial, Helvetica, sans-serif;
  text-align: center;
  color: #003366;
}

#kanji_icon {
  margin-left:25px;
  margin-top:50px;
  margin-bottom:30px;
}
label {
  color:#FFFFFF;
  font-size:20px;
}

.clock ul {
  list-style: none;
  color: #003366;
}

.clock ul li {
  display: inline;
  font-family: "BebasNeueRegular", Arial, Helvetica, sans-serif;
}

#point {
  position: relative;
  -moz-animation: mymove 1s ease infinite;
  -webkit-animation: mymove 1s ease infinite;
  padding-left: 10px;
  padding-right: 10px;
}

@-webkit-keyframes mymove {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0;
    text-shadow: none;
  }

  100% {
    opacity: 1.0;
  } 
}

@-moz-keyframes mymove {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0;
    text-shadow: none;
  }

  100% {
    opacity: 1.0;
  };
}
.clock{
  position: relative;
  left: 45%;
}

.lang-selection{
  background-color: #fafafa;  
}

.lang-selection:hover{
  color: red;
}

